[submodule "lib/rapidjson"]
	path = lib/rapidjson
	url = git@github.com:Tencent/rapidjson.git
[submodule "lib/doctest"]
	path = lib/doctest
	url = git@github.com:doctest/doctest.git
[submodule "lib/better-enums"]
	path = lib/better-enums
	url = https://github.com/aantron/better-enums
